.header {
  top: 0;
  position: fixed;
  z-index: 100;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a:link {
  list-style: none;
  text-decoration: none;
  transition: 150ms ease;
  color: rgb(78, 78, 78);
}

a:hover {
  transform: scale(1.02);
  color: black;
}
