.badge {
  transition: 150ms ease;
}

.badge:hover {
  transform: scale(1.01);
  box-shadow: none;
}

.footer {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
